/* .wrapper {
  padding: 100px 15px;
  height: 100vh;
  background-color: rgb(107, 107, 107);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  border: 10px solid #999;
  display: flex;
}

.block {
  height: 300px;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.842);
}

.red {
  background-color: rgb(235, 118, 118);
}
.blue {
  background-color: rgb(80, 91, 235);
}
.orange {
  background-color: rgb(224, 158, 59);
}
.green {
  background-color: rgb(113, 212, 113);
}
.purple {
  background-color: rgb(205, 148, 231);
}

/* ------------------------------------------------------ */

/* .blue {
  position: relative;
  top: 180px;
  right: -650px;
  z-index: +1;
}
.container{
  position: relative;
} */
/* html {
  position: relative;
} */
/* .orange{
  position: absolute;
  top: 100px ;
  left: 80%;
} */
/* .red {
  position: fixed;
  top: 53vh;
  left: 77vw;
} */
/* .green {
  position: sticky;
  top: 50px;
} */
.block{
  position: ;
}
.container {
  height: 100%;
  width: 100vw;
  background-color: rgb(107, 107, 107);
}

.block {
  height: 250px;
  width: 50vw;
  max-width: 50vw;
  border-radius: 150px;
  background-color: rgb(122, 19, 95);
  position: fixed;
  bottom: 100px;
  right: 50px;
}